fastapi== 0.115.12       # You can change the version as per your project requirements
mysql-connector-python   # Use the appropriate version if needed
pydantic== 2.11.5        # Ensure the version matches your usage
openai== 1.82.0          # Use the latest version if possible

uvicorn
python-dotenv

beautifulsoup4
python-docx
pymupdf
requests
python-multipart
pymysql
python-pptx
